<a href="https://colab.research.google.com/github/Amarjeet-1998/python_excercise/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

create a function in python

In [2]:
def demo(name, age):
  print(name, age)

  # call function
  demo("Ben", 25)

In [3]:
demo

2. create a function with variable length of arguments

In [4]:
def func1(*args):
  for i in args:
    print(i)

In [5]:
func1(20,40,60)
func1(80,100)

20
40
60
80
100

3. Return multiple values from a function

In [6]:
def calculation(a, b):
  addition = a+ b
  subtraction = a - b
  #return multiple values separated by comma
  return addition, subtraction

# get result in tuple format
res = calculation(40,10)
print(res)

(50, 30)

In [7]:
def calculation(a, b):
  return a + b, a - b
  # get result in tuple format
  # unpack tuple
add, sub = calculation(40, 10)
print(add, sub)

50 30

4. create a function with a default argument

In [8]:
def show_employee(name, salary=9000):
  print("Name:", name, "salary:", salary)
show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

5. create an inner function to calculate the addition in the following way

In [9]:
def outer_fun(a, b):
  square = a ** 2

  # inner function
  def addition(a, b):
    return a + b
  

  add = addition(a, b)
  return add + 5

result = outer_fun(5,10)
print(result)

20

6. create a recursive function

In [10]:
def addition(num):
  if num:
    #call same function by reducing number by 1
    return num + addition(num - 1)
  else:
    return 0


res = addition(10)
print(res)

55

7. Assign a different name to function and call it through the new name

In [11]:
def display_student(name, age):
  print(name, age)

display_student("Emma", 26)

showstudent = display_student
showstudent("Emma", 26)

Emma 26
Emma 26

8. Generate a python list of all the even numbers between 4 to 30

In [12]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

9. Find the largest item from a given list

In [13]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

1. create a string made of the first, middle and last character

In [14]:
str1 = 'James'
print("original string is", str1)

# get first character
res = str1[0]

# get string size
l = len(str1)

# Get middle index number
mi = int(l/2)

# Get middle character and add it to result
res = res + str1[l - 1]

print("New String:", res)

original string is James
New String: Js

1. Create a string made of the middle three characters

In [15]:
def get_middle_three_chars(str1):
  print("original string is ", str1)

# first get middle index number
  mi = int(len(str1) / 2)

# use string slicing to get result characters
  res = str1[mi - 1:mi + 2]
  print("Middle three chars are:", res)

get_middle_three_chars("JhoonDipPeta")
get_middle_three_chars("JaSonAy")

original string is  JhoonDipPeta
Middle three chars are: Dip
original string is  JaSonAy
Middle three chars are: Son

2. Append new string in the middle of a given string

In [16]:
def append_middle(s1, s2):
  print("Original strings are", s1, s2)

  #middle index number of s1
  mi = int(len(s1)/ 2)

  # get character from 0 to the middle index number from s1
  x = s1[:mi:]
  # concatenate s2 to it
  x = x + s2
  # append remaining character from s1
  x = x + s1[mi:]

  print("After appending new string in middle:", x)

append_middle("Adult", "Kelly")

Original strings are Adult Kelly
After appending new string in middle: AdKellyult

3. create a new string made of the first, middle and last characters of each input string

In [17]:
def mix_string(s1, s2):
    # get first character from both string
    first_char = s1[0] + s2[0]

    # get middle character from both string
    middle_char = s1[int(len(s1) / 2):int(len(s1) / 2) + 1] + s2[int(len(s2) / 2):int(len(s2) / 2) + 1]

    # get last character from both string
    last_char = s1[len(s1) - 1] + s2[len(s2) - 1]

    # add all
    res = first_char + middle_char + last_char
    print("Mix String is ", res)

s1 = "America"
s2 = "Japan"
mix_string(s1, s2)

Mix String is  AJrpan